@tailwind base;
@tailwind components;
@tailwind utilities;
  
.scrollbar-custom::-webkit-scrollbar {
    width: 15px;
    background-color: #f5f5f5;
  }
  
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #42a252;
    border-radius: 10px;
  }
  
  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: #3b934a;
  }